# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular languages that Data Scientists use
* List popular libraries that Data Scientists use
* List some open source Data Science Tools
* Show some examples of arithmetic expressions in Python

Some of the popular languages that Data Scientist use are:
1. Python
2. SQL
3. Java
4. Scala
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy
4. SciPy
5. Scrapy

| Data Science Tools |
|--------------------|
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60.
divmod(200, 60)

(3, 20)

## Author
Victor Samuel Ika